<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IdiotAVPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A8709D91FF74E3400F5F10D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8709F21FF74E3400F5F10D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A8709FD1FF74E3400F5F10D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
